<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react-with-addons.js"></script>

</head>
<body>

    <div class="literally"></div>

    <!-- kick it off -->
    <script>
        // Look ma, no jQuery!
        LC.init(
            document.getElementsByClassName('literally')[0],
            {imageURLPrefix: '/assets/static/img'}
        );

        /* or if you just love jQuery,
            $('.literally').literallycanvas({imageURLPrefix: '/static/img'})
        */
    </script>
<%= yield %>
</body>
</html>
