<!DOCTYPE html>
<html>
<head>
  <title>Canvas</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="literally"></div>
    <section>
      <div id="left">
        <div id = "delta_id"></div>
        <div id = "delta_json"></div>
      </div>
      <div id="right">
         New Shape: <br>
         <textarea rows="1" id="new_shape" name="new_shape"></textarea><br>
         <button type="button" id="add_shape">Add!</button>
      </div>
    </section>
    <%= yield %>
</body>
</html>
